body
{
	background-color: grey;
}
div
{
	color: orange;
}
ul
{
	style: none;
}
li
{
	color:white;
	display:inline;
	padding: 5px;
}
li:hover
{
	color: Black;
	background-color: white;
}
	